* {
    margin: 0px;
    padding: 0px;
}

.bc {
    display: flex;
    justify-content: space-around;
    justify-items: centers;
}
ul{
    display: flex;
    gap: 70px;
}
ul li{
    list-style: none;
    margin-top:50px;
}
.cd{
    /* margin-left: 100px; */
    margin:-50px 10px;
}
.dr{
    height:700px;
    width: 1500px;
    margin-top:-600px;
}
h1{
    height: 700px;
    width:400px;
position: relative;
left:1500px;
top: -700px;
    
}