* {
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}

.bc {
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

ul {
    display: flex;
    gap: 50px;
}

ul li {
    list-style: none;
    
}
h1{
    margin-left: 100px;
}